*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
        font-family: 'Playfair Display', serif;
         font-size: 18px; 
         background-color: white;
         overflow-x: hidden;
         line-height: 180%;
}
h2{
    font-size: 3rem;
}
.logo {
    margin-left: 100px;
    text-decoration: none;
}
.navbar .container a:hover{
    text-decoration: none !important;
}
#navbarMenu ul li a{
    margin: 0 15px;
}
.spark{
color: orange;
font-family: 'Pacifico', cursive;
font-size: 2rem;
}
.dig{
    color: white;
    font-size: 1rem;
    font-family: 'Pacifico', cursive;
}
.height{
    min-height: 100vh;
}
.height-80{
    min-height: 80vh;
}
.navbar{
    background-color: #333333;
}
.nav-link:hover{
    color: #333333;
   }

.link{
   /*border: orange solid 2px;*/
   color: #333333;
   background-image: linear-gradient(to top, orange 50%, transparent 50%);
   background-position: 100% 0%;
   background-size: 100% 200%;
   transition: 0.5s;
}
.link:hover{
   text-decoration: none;
   color: white;
   background-position: 0% 100%;
   cursor: pointer;
}

.image{
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.801)), url(../Img/people1.jpeg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 0,100% 0%,100% 56%, 0% 100%);
    -webkit-clip-path: polygon(0 0,100% 0%,180% 0%, 0% 100%);
    -moz-clip-path: polygon(0 0,100% 0%,100% 0%, 0% 100%);
    -ms-clip-path: polygon(0 0,100% 0%,100% 0%, 0% 100%);
    width: 100%;
    height: 600px;
    position: relative;
}
.slant-heading{
    position: absolute;
    top: 38%;
    left: 30%;
    color: white;
    font-size: 4rem;
}
.title-underline{
    width: 100px;
    height: 5px;
    background-color: orange;
    margin: 0 auto;
}
.about{
    width: 100%;
    height: 500px;
    background: orange;
    display: flex;
    padding: 50px 50px;
    position: relative;
}
.about-pic{
    width: 50%;
    height: 100%;
    background:  url(../Img/man1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.about-background{
        width: 50%;
        height: 100%;
        box-sizing: border-box;
        border-left: 0px solid #000;
        border-bottom: 500px solid transparent;
        padding: 0 20px;
        margin-top: 5px;
}
footer{
    background-color: #333333;
    min-height: 100%;
    position: relative;
}
.dig-footer{
    color: white;
    font-size: 1rem;
    font-family: 'Pacifico', cursive;
}
 a .logo{
    margin-left: 5px;
}
footer .links ul li{
    text-decoration: none;
    list-style: none;
}
footer .last-link{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    color: white;
    cursor: pointer;

}
.copy-right{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 20px;
    font-size: 14px;
}
footer .links .row .col a:hover{
    text-decoration: none;
}
.last-link .fa-instagram:hover{
    color: orange;
}
.last-link .fa-twitter:hover{
    color: orange;
}
.last-link .fa-linkedin:hover{
    color: orange;
}
.last-link .fa-facebook:hover{
    color: orange;
}
.links ul li a{
    color: rgba(255, 255, 255, 0.794);
}
.links p{
    color: rgba(255, 255, 255, 0.794);
}
.links h2{
    color: rgba(255, 255, 255, 0.794);
    font-weight: bold;
    font-size: 18px;
}

.follow{
    color: rgba(255, 255, 255, 0.794);
}
hr{
    height: 1px;
    color: grey;
    background-color: grey;
    border: none;
}
.fade-in{
    opacity: 0;
    transition: opacity 250ms ease-in;
}
.fade-in.appear{
    opacity: 1;
}
ul.transition{
    display: flex;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    pointer-events: none;
    margin: 0;
    list-style: none;
}
ul.transition li{
   transform: scaleY(0);
   background: white;
   width: 20%;
}

@media screen and (max-width:768px){
    ul.transition{
        display: flex;
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        pointer-events: none;
        margin: 0;
        list-style: none;
   }
   ul.transition li{
       transform: scaleY(0);
       background: white;
       width: 20%;
   }
   #navbarMenu{
    background-color: #333333;
    margin-top: 25px;
}
body{
    font-size: 17px;
}
    h2{
        font-size: 2rem;
    }
    .menu{
        color: white;
    }
    .link{
    border: orange solid 2px;
    color: #333333;
   background-image: linear-gradient(to top, orange 50%, transparent 50%);
   background-position: 100% 0%;
   background-size: 100% 200%;
   transition: 0.5s;
    }
    .slant-heading{
        position: absolute;
        top: 26%;
        left: 10%;
        color: white;
        font-size: 3rem;
        text-align: center;
    }
    .about{
    width: 100%;
    height: 1100px; 
    }
    .about-pic{
      width: 80%;
      height: 300px;
      top: 5%;
      left: 10%;
      position: absolute;
    }
    .about-background{
        position: absolute;
        text-align: center;
        bottom: 18%;
        width: 80%;
        height: 300px;
    }
    /*
    .links p{
        margin-left: 45px;
    }
    */
}
@media screen and (max-width: 414px){
    .logo{
        margin-left: 20px !important;
    }
}

