*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Playfair Display', serif;
         font-size: 18px; 
         overflow-x: hidden;
         line-height: 180%;
}
.bold-heading{
    font-size: 3rem;
    margin-top: 160px;
}

h2{
    font-size: 2rem;
}
.logo {
    margin-left: 100px;
    text-decoration: none;
}
.navbar .container a:hover{
    text-decoration: none !important;
}
#navbarMenu ul li a{
    margin: 0 15px;
}
.spark{
color: orange;
font-family: 'Pacifico', cursive;
font-size: 2rem;
}
.dig{
    color: white;
    font-size: 1rem;
    font-family: 'Pacifico', cursive;
}
.height{
    min-height: 100vh;
}
.height-80{
    min-height: 80vh;
}
.navbar{
    background-color: #333333;
}
.nav-link:hover{
    color: #333333;
   }

.link{
   color: #333333;
   background-image: linear-gradient(to top, orange 50%, transparent 50%);
   background-position: 100% 0%;
   background-size: 100% 200%;
   transition: 0.5s;
}
.link:hover{
   text-decoration: none;
   color: white;
   background-position: 0% 100%;
   cursor: pointer;
}
.contact-form{
    background-image: url(../Img/people2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.contact-support{
    list-style: none;
}
#contact-pic{
    background-image:  linear-gradient(to right, rgba(0, 0, 0, 0.794), rgba(0, 0, 0, 0.746)),url(../Img/pic-Roi.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   min-height: 80vh; 
    color: cornsilk;
}
.link-support{
    border: 2px solid orange;
    color: #333333;
    background-image: linear-gradient(to top, orange 50%, transparent 50%);
    background-position: 100% 0%;
    background-size: 100% 200%;
    transition: 0.5s;
 }
 .link-support:hover{
    text-decoration: none;
    color: white;
    background-position: 0% 100%;
    cursor: pointer;
 }
.black-hr{
    height: 1px;
    color: #333333;
    background-color: #333333;
    border: none;
    width: 1070px;
    margin-left: 150px;
}
form{
    max-width: 500px;
    min-width: 300px;
    padding: 10px 50px;
    border:2px solid orange;
    border-radius:10px;
}
input[type=text] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    padding-left: 40px;
    border-radius: 8px;
    margin-top: 20px;
}
textarea{
    width: 100%;
    height: 150px;
    border: 1px solid #ccc;
    padding-left: 40px;
    padding-top: 10px;
    border-radius: 8px;
    margin-top: 20px;
    resize: none;
}
#submit{
    display: block;
    padding: 6px 0px;
    background-color: orange;
    width: 400px;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    border-radius: 8px;
    color: cornsilk;
    margin-bottom: 20px;
}
#submit:hover{
    text-decoration: none;
    background-color: #80808036;
    color: orange;
}
footer{
    background-color: #333333;
    min-height: 100%;
    position: relative;
}
.dig-footer{
    color: white;
    font-size: 1rem;
    font-family: 'Pacifico', cursive;
}
 a .logo{
    margin-left: 5px;
}
footer .links ul li{
    text-decoration: none;
    list-style: none;
}
footer .last-link{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    color: white;
    cursor: pointer;
}
.copy-right{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 20px;
    font-size: 14px;
}
footer .links .row .col a:hover{
    text-decoration: none;
}
.last-link .fa-instagram:hover{
    color: orange;
}
.last-link .fa-twitter:hover{
    color: orange;
}
.last-link .fa-linkedin:hover{
    color: orange;
}
.last-link .fa-facebook:hover{
    color: orange;
}
.links ul li a{
    color: rgba(255, 255, 255, 0.794);
}
.links p{
    color: rgba(255, 255, 255, 0.794);
}
.links h2{
    color: rgba(255, 255, 255, 0.794);
    font-weight: bold;
    font-size: 18px;
}

.follow{
    color: rgba(255, 255, 255, 0.794);
}
hr{
    height: 1px;
    color: grey;
    background-color: grey;
    border: none;
}

@media screen and (max-width:768px){
    .menu{
        color: white;
    }
    #navbarMenu{
        background-color: #333333;
        margin-top: 25px;
    }
        body{
            font-size: 17px;
        } 
    .link{
        border: orange solid 2px;
        color: #333333;
       background-image: linear-gradient(to top, orange 50%, transparent 50%);
       background-position: 100% 0%;
       background-size: 100% 200%;
       transition: 0.5s;
        }
        #contact-pic h1{
            margin-top: 5em !important;
        }
    form{
        width: 300px;
        padding: 10px 50px;
        margin-right: 40px !important;
    }
    .black-hr{
        width: 80%;
        margin-left: 50px !important;
    }
    input[type=text] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        padding-left: 40px;
        border-radius: 8px;
        margin-top: 20px;
    }
  
    #submit{
        width: 170px !important;
        font-size: 1.5rem;
    }
  .contact-form{
      display: none;
  } 
/*
.links p{
    margin-left: 45px;
}*/
}
@media screen and (max-width: 414px){
    .logo{
        margin-left: 20px !important;
    }
}
@media screen and (device-width: 375px){
    /*form{
        width: 50% !important;
        margin-right: 20px !important;
    }*/
    .black-hr{
        width: 280px;
        margin-right: 20px !important;
    }
}
@media screen and (max-width: 900px){
    #submit{
        width: 200px;
        margin-left: 10px;
    }
}
