*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Playfair Display', serif;
     font-size: 18px; 
     line-height: 180%;
     background-color: white;
     overflow-x: hidden;
     position: relative;
    }
.navbar .container a:hover{
    text-decoration: none !important;
}
.spark{
color: white;
font-family: 'Pacifico', cursive;
font-size: 2rem;
}
.dig{
    color: black;
    font-size: 1rem;
    font-family: 'Pacifico', cursive;
}
#navbarMenu ul li a{
    margin: 0 15px;
}
.nav-link:hover{
    color: #333333;
   }

.link{
   border: orange solid 2px;
   color: #333333;
   background-image: linear-gradient(to top, #333333 50%, transparent 50%);
   background-position: 100% 0%;
   background-size: 100% 200%;
   transition: 0.5s;
}
.link:hover{
   text-decoration: none;
   color: white;
   background-position: 0% 100%;
   cursor: pointer;
}
header{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg fill-opacity='0.08'%3E%3Ccircle fill='%23ffa73c' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23fa7a49' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23e5505b' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23c2306b' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23922276' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
background-size: cover;
    background-color: orange;
    min-height: 60vh;
}
.hero-spark{
    color: #333333;
}
.hero-section .row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px ;
}
.hero-section img{
max-width: 100%;
height: auto;
margin-top: 30px;
clip-path: "polygon(0 0, 100% 0, 100% 100%, 0% 100%)"

}
.hero-section h1{
    font-size: 4rem;
    color: white;
}
.card-overlay{
    width: 50%;
    height: auto;
    position: absolute;
    top: 11.5%;
    left: 25%;
    border-radius: 20px;
}
 .card-overlay img{
     width: 100%;
 }
 .card-btn{
     color: white;
     background-color: orange;
     font-weight: bold;
     padding: 10px 10px;
     border-radius: 8px;
     text-decoration: none;
 }
 .card-overlay h1{
     color: peru;
     font-size: 25px;
 }
 .card-btn:hover{
     background-color: peru;
     text-decoration: none;
     color: white;
 }
.video-background{
    width: 100%;
    height:auto;
    margin-top: 100px;
}
.video-section{
    padding: 150px 0;
}
 
 .heading{
     color: orange;
     font-size: smaller;
 }

.visual h1{
    font-size: 3rem;
}
.services{
    list-style: none;
}
.title-underline{
    width: 100px;
    height: 4px;
    background-color: orange;
    margin: 0 auto;
}
.font-awesome{
    color: #333333;
    cursor: pointer;
    margin-right: 60px;
}
.cta-img{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.897), rgba(0, 0, 0, 0.657)), url(../Img/woman-sharing-her-presentation-with-her-colleagues-3153198.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    height: 600px;
    padding: 0px auto;
    position: relative;
}

.cta-overlay{
    color: white;
    position: absolute;
    text-align: left; 
    left: 4%;
    margin-top: -40%;
    width: 50%;
}
.cta-overlay h1{
    font-size: 3rem;
    margin-bottom: 30px;
}
.overlay-span{
    color: orange;
}

.social-media img{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
.setion-2{
    background-color: rgba(255, 166, 0, 0.76);
    /*background: url(../Img/wave.svg);*/
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.setion-2:hover{
    text-decoration: none;
    color: #333333;
}
.setion-2 p{
    font-size: 14px;
    padding-top: 50px;
}
.brands{
    padding: 50px 0;
}
.card-body{
    box-shadow: 2px 8px 6px 6px rgba(0, 0, 0, 0.068);
}
.card-link{
    font-size: 1rem;
    color: orange;
    font-weight: bold;
}
.card-link:hover{
    color: #333333;
}
.price-heading h1{
    font-size: 3rem;
    color: #333333;
}
.pricing{
    position: relative;
    bottom:0;
    left:0;
    transition: all 0.1s;
}
.pricing:hover{
    bottom:20px;
    top:40px;
}
.price-heading{
    color: #333333;
    font-size: 2rem;
}
.price{
    color: #333333;
    font-size: 2rem;
}

.pricing-card:hover{
    background-color: rgba(255, 166, 0, 0.76);
    color: cornsilk;
}
footer{
    background-color: #333333;
    min-height: 100%;
    position: relative;
}
.spark-footer{
    color: orange;
    font-size: 2rem;
    font-family: 'Pacifico', cursive; 
}
.dig-footer{
    color: white;
    font-size: 1rem;
    font-family: 'Pacifico', cursive;
}
 a .logo{
    margin-left: 5px;
}
footer .links .row .col a:hover{
    text-decoration: none;
}
footer .links ul li{
    text-decoration: none;
    list-style: none;
}
footer .last-link{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    color: white;
    cursor: pointer;

}
.copy-right{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 14px;
    padding-top: 20px;
}
.last-link .fa-instagram:hover{
    color: orange;
}
.last-link .fa-twitter:hover{
    color: orange;
}
.last-link .fa-linkedin:hover{
    color: orange;
}
.last-link .fa-facebook:hover{
    color: orange;
}
.links ul li a{
    color: rgba(255, 255, 255, 0.794);
}
.links p{
    color: rgba(255, 255, 255, 0.794);
}
.links h2{
    color: rgba(255, 255, 255, 0.794);
    font-weight: bold;
    font-size: 18px;
}

.follow{
    color: rgba(255, 255, 255, 0.794);
}
hr{
    height: 1px;
    color: grey;
    background-color: grey;
    border: none;
}
/*Animations*/

.slide-left{
    transform: translate(-50%);
}
.slide-right{
    transform: translate(50%);
}

.slide-left, .slide-right {
    opacity: 0;
    transition: opacity 250ms ease-in, transform 400ms ease-in;
}
.slide-left.appear, .slide-right.appear{
    transform: translateX(0);
    opacity: 1;
}

.fade-in{
    opacity: 0;
    transition: opacity 250ms ease-in;
}
.fade-in.appear{
    opacity: 1;
}
.animate__animated .animate__fadeInDown{
    --animate-duration: 2s;
}
ul.transition{
     display: flex;
     position: absolute;
     z-index: 10;
     top: 0;
     left: 0;
     height: 100vh;
     width: 100%;
     pointer-events: none;
     margin: 0;
     list-style: none;
}
ul.transition li{
    transform: scaleY(0);
    background: white;
    width: 20%;
}

@media screen and (max-width: 991px){
    header{
        min-height: 50vh;
    }
    .hero-section{
        margin-top: 60px;
    }
    .cta-overlay{
        width: 80%;
        margin-bottom: 60%;
    }
    .cta-overlay h1{
        font-size: 3rem;
    }
}

@media screen and (max-width:768px){
    ul.transition{
        display: flex;
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        pointer-events: none;
        margin: 0;
        list-style: none;
   }
   ul.transition li{
       transform: scaleY(0);
       background: white;
       width: 20%;
   }
   #navbarMenu{
    background-color: #333333;
    border-radius: 8px;
    margin-left: 30px !important;
    margin-top: 50px;
}
body{
    font-size: 17px;
}
    .navbar{
        padding-left: 0;
        margin-left: 0;
    }
    .hero-section h1{
        font-size: 40px !important;
    }
  
.nav-link{
    color: #333333;
}
.nav-item a{
    margin-left: 10px;
}
.hero-section h1{
    font-size: 3rem;
    text-align: center;
    margin-top: 30px;
}
.card-overlay{
 display: none;   
}
.video-section{padding: 0 !important;}
.video-section h1{
    font-size: 2rem;
}
    .cta-overlay{
        color: white;
        position: absolute;
        text-align: center; 
        left: 0;
        margin-bottom: 40% !important;
        width: 100%;
    }
    .cta-img{
        height: 400px;
    }
    .cta-overlay h1{
        font-size: 2rem;
    }
    
    .visual h1{
        font-size: 2rem;
    }

    .setion-2 p{
        padding-top: 50px;
    }
   .brands{
       display: flex;
       flex-wrap: wrap;
       flex: 50%;
       padding: 50px 0;
   }
   .price-header h1{
       font-size: 2rem;
   }
   .price-heading{
    font-size: 20px;
    color: #333333;
}
.price p{
    font-size: 1.5rem;
}
.social-media h1{
    font-size: 2rem;
}
footer .links ul li{
    text-decoration: none;
    list-style: none;
    line-height: 30px;
}

/*
.links p{
    margin-left: 45px;
}
*/
}
@media screen and (max-width: 414px){
    .cta-img{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #navbarMenu{
        background-color: #333333;
        color: #333333;
        border-radius: 8px;
        padding: 20px 15px;
        margin: 40px 10px;
    }
    .cta-overlay{
        width: 100%;
        margin-bottom: 50% !important;
        left: 0;
    }
    .hero-img{
        margin-bottom: 20% !important;
    }
    .logo{
        margin-left: 20px !important;
    }
}

